body {
    background: linear-gradient(#07c8f9, #0d41e1);
}
#topElements {
    text-align: center;
    margin: 0 auto;
    font-size: 1.4em;
}
#buttonHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.gameButtons {
    padding: 45px;
    font-size: 20px;
    font-weight: bold;
}
.gameButtons:hover {
    cursor: pointer;
}
